In [5]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
import pandas as pd
from collections import Counter
df=pd.read_csv('train.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [6]:
print("Mean of the Age is ",df['Age'].mean())

Mean of the Age is  38.822583565331705

In [12]:
print("Mean of the Annual Premium is ",df['Annual_Premium'].mean())

Mean of the Annual Premium is  30564.389581458323

In [11]:
df.groupby(['Gender']).size().values

array([175020, 206089], dtype=int64)

In [20]:
temp = []
for i,j in zip(df['Previously_Insured'],df['Annual_Premium']):
    if i == 1:
         temp.append(j)
print(sum(temp)/len(temp))

30644.289197608632

In [23]:
df.groupby(['Driving_License']).Annual_Premium.mean().values[1]

30554.919365653688

In [25]:
df.groupby(['Previously_Insured']).Annual_Premium.var()

Previously_Insured
0    3.351930e+08
1    2.502867e+08
Name: Annual_Premium, dtype: float64

In [ ]:
pmf =